#intro.module
  .module-content
    #intro-search
      %h2 Enter A RSS Source URL
      %p.intro 
        Community Driven RSS Reader
        - form_tag url_for(:controller => :source, :action => :new),:id => :source_url do
          %input#homepage-searchinput.textinput.placeholder{:type => "text",:name => :source,:value => "http://"}
          %input.button{:type => "submit",:value => "Submit"}
              
    #intro-explore
      %h2 Explore DigRuby 
      %ul 
        %li 
          %strong.number
            =Sources::Base.count
          %a{:href => ""} Rss Sources
        %li 
          %strong.number 
            =Entries::Base.count
          %a{:href => ""} Articles

