#intro.module
  .module-content
    #intro-search
      %h2 Enter A RSS Source URL
      %p.intro 
        We gather all sorts of local info daily so you can follow news near you.
        - form_tag url_for(:controller => :source, :action => :submit) do
          %input#homepage-searchinput.textinput.placeholder{:type => "text",:placeholder => "RSS Source URL",:name => :source}
          %input.button{:type => "submit",:value => "Submit"}
    #intro-explore
      %h2 Explore DigRuby 
      %ul 
        %li 
          %strong.number
            =Sources::Base.count
          %a{:href => ""} Rss Sources
        %li 
          %strong.number 
            =Entries::Base.count
          %a{:href => ""} Articles

