=render 'top'
#articles.module 
  .module-content 
    .selector
      %ul
        %li 
          %a 
            %strong Top in 24 Hr
        %li 
          %a
            %strong 7 Days
      %span.current
        %strong Most Recent
      %span.space
      %span.desc
        %strong Articles
    =render :partial => 'article', :collection => @entries,:as => :entry

