header, footer, nav, article {display:block;}
a {
  color:#2D7BB2;
  outline:medium none;
  text-decoration:none;
  cursor:pointer;
}
header {
  background:none repeat scroll 0 0 #2B332E;
  border-bottom:4px solid #7ECC64;
  color:#FFFFFF;
  min-width:968px;
  position:relative;
  z-index:9999;
}
header {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  margin-bottom:10px;
}

header h1 {
  padding-top:0;
  margin:0;
  height:50px;
}

header #global_title .logo {
  background:url("../images/logo.gif") no-repeat scroll 16px 8px transparent;
  float:left;
  height:42px;
  overflow:hidden;
  text-indent:-9999px;
  width:320px;
}

.module {
  background:none repeat scroll 0 0 #FFFFFF;
  border:4px solid #EBF2EE;
  float:left;
  margin:0 -5px 1em;
  overflow:hidden;
  position:relative;
  width:100%;
}
.module-content {
  border:1px solid #C0CCC4;
  overflow:hidden;
  padding:0.75em 16px;
}
#intro h2 {
  font-size:1.7em;
  font-weight:bold;
}

#intro-search {
  background:url("../images/homeicon_address.gif") no-repeat scroll 0 0 transparent;
  float:left;
  margin-right:16px;
  padding-left:52px;
  width:540px;
}

#intro-search .intro {
  color:#808C85;
  font-size:1.2em;
}


#intro-search form .textinput {
  float:left;
  margin-right:0;
  width:368px;
  padding:0.5em;
  font-weight:bold;
}

.textinput, input[type="text"], input[type="password"], textarea {
  border:1px solid #C0CCC4;
  color:#2B332E;
  font-size:1.2em;
  padding:0.3em;
}
#intro-search form .button {
  margin-left:-1px;
  margin-top:7px;
  max-height:2.75em;
  padding:0.55em 10px;
  width:70px;
}

.button:hover {
  border-color: #808c85;
  color:#2b332e;
}
.button {
  background-color:#EBF2EE!important;
  background-image:url("../images/buttonbg.gif");
  background-repeat:repeat-x;
  border:1px solid #C0CCC4;
  color:#2B332E;
  cursor:pointer;
  float:left;
  font-size:1.1em;
  font-weight:bold;
  padding:0.25em 8px;
  text-shadow:0 1px #FFFFFF;
}



#intro-explore { 
  float: left;
  width: 190px;
  padding: 0 16px;
  margin-right: 16px;
  padding-left: 72px;
  border-left: 1px solid #DBE6DF;
  background: url(../images/homeicon_locations.gif) 16px 0 no-repeat;
 }
 #intro-explore ul { 
   list-style-type: none;
   margin-left: 2px;
 }
 #intro-explore li { 
   overflow: hidden;
 }
 #intro-explore ul a { 
   font-size: 0.875em;
   font-weight: bold;
 }
 .module .number {
   font-size:1.125em;
   padding-right:0.2em;
}
strong {
  font-weight:bold;
}
#intro-explore ul a {
  font-size:1.2em;
  font-weight:bold;
}

.selector {
  background:url("../images/tab-line.gif") repeat-x scroll 0 50% transparent;
  height:38px;
  margin-bottom:5px;
  margin-top:-13px;
  width:100%;
}

.selector ul {
  list-style-type: none;
}
.selector ul li {
  background-color:#FFFFFF;
  float:right;
  padding:9px 5px;

}
.selector ul li:first {
  margin-right:6px;
}

.selector span.current {
  background-color:#C0CCC4;
  color:#2B332E;
  float:right;
  margin:5px 0;
  padding:5px;

}
.selector span.space {
  background-color:#FFFFFF;
  color:#2B332E;
  float:right;
  margin:5px 0;
  height:20px;
  width:10px;

}

.selector span.desc {
  background-color:#FFFFFF;
  float:left;
  font-size:2em;
  padding:0 10px;

}

.article {
  margin-bottom:10px;
}

.article .seperator {
  margin-top:10px;
}
#articles .article:last-of-type {
  margin:0;
  padding:0;
}

#articles .article:last-of-type .seperator {
  display:none;
}

.article .entry {
  margin-left:100px;
}

.article .entry .source{
  font-size:0.9em;
}

.article .entry h3.title {
  border-bottom:1px solid  #C0CCC4;
  font-weight:bold;
  margin:0px;
  padding-bottom:5px;
  text-transform:capitalize;
}

.article .entry  span.date {
  float:right;
  background-color:#EBF2EE;
  padding:2px 5px;
}
.article .entry .brief {
  margin-right:8px;
  margin-top:5px;
  width:713px;
  font-size:1.2em;
}

.article .entry .tags  {
  margin-top:10px;
  float:left;
  font-size:1.2em;
}

.article .rank{
  float:left;
  padding-left:22px;
  width:60px
}
.article .rank a {
  -moz-border-radius:3px 3px 3px 3px;
  background:url("../images/stream_icons.png") no-repeat scroll left top #F3F3F1;
  color:#858377;
  display:block;
  font-size:14px;
  font-weight:bold;
  margin-bottom:5px;
  padding:23px 9px 5px;
  text-align:center;
  text-decoration:none;

}

.article .rank a:hover {
  background:url("../images/stream_icons.png") no-repeat scroll left top #EBF2EE;

}


.article .rank a.like {
  background-position:50% 6px;
}
.article .rank a.comment {
  background-position:50% -175px;
}
.seperator {
  clear:both;
  border-top:4px solid #EBF2EE;
  padding-top:0.5em;
}
.clear {
  clear:both
}

.new_source_form .button {
  margin:5px;
  width:70px;
  float:none;
}

.new_source_form .link_button {
  padding:0.25em 8px;
}
.new_source_form {
  background:url("../images/homeicon_address.gif") no-repeat scroll 0 0 transparent;
  width:400px;
}
.new_source_form .form_title h2 {
  font-size:1.2em;
  font-weight:bold;
  margin-left:50px;
  margin-top:-10px;
}

.new_source_form .form_body {
  margin-left:50px;
}

.new_source_form .form_body label {
  font-size:1.1em;
}
.new_source_form .form_body input[type="text"] {
  font-weight:bold;
}
.new_source_form .form_body em {
  font-size:1.2em;
  color:red;
}
.new_source_form .form_button {
  text-align:center;
}

#body_top {
  height:50px;
  margin-bottom:5px;
}

#body_top .loading{
  text-align:center;
}
#messageBox li {
  padding:3px 0;
  margin:4px 0;
  border:none;
  background:none;

}
#messageBox li{
  font-size:1em;
  font-weight:bold;
}

#pagination {
  width:100%;
  text-align:center;
}
#more_button {
  width:100%;
  height:40px;
  border:1px solid #C0CCC4;   /* default border */
  -moz-border-radius:10px;    /* radius for firefox */
  -webkit-border-radius:10px; /* radius for safari, chrome, etc */
}

