!!!
%html 
  %head 
    %title DIG RUBY
    /The following is required for OpenLayers compatibility with IE8
    %meta{"http-equiv" => "X-UA-Compatible",:content => "IE=EmulateIE7"}
    =stylesheet_link_tag "screen",:media => "screen, projection"
    =stylesheet_link_tag "main",:media => "screen"
    =stylesheet_link_tag "print", :media => "print"
    /[if lt IE 8]
      =stylesheet_link_tag "ie"
    /[if IE]
      =stylesheet_link_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    :css
      html, body {
        height:100%;
        width:100%;
        overflow:hidden;
      }
      header {
        margin:0;
      }

  %body
    %header
      %h1#global_title
        %a.logo{:href => '/'}
    =yield
    -if RAILS_ENV == 'production'
      =javascript_include_tag 'google_analytics'
       

